/tango
venv
.env
*.log
__pycache__
.idea
vectorDB
temp_folder
.vscode
*.sqlite3
*.log.1
issues_data*
personal.md
*projects.json
*roadmaps.json
/src/docreader_v1
all_data_creation
/smartsheet_integrationData.json
conversation.json
rough

tigergraph-4.2.0-community-docker-image.tar*
gsql_client*
.cache
onprem_jira_projects_custom_fields/*


.DS_Store
.DS_Store

.env.local
